.skeleton-loader {
  display: flex;
  flex-direction: column;
}

.skeleton-shape {
  height: 40px;
  width: 100%;
  background-color: #c6c3c38b;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: skeleon-loading 1.5s infinite;
}