@tailwind base;
@tailwind components;
@tailwind utilities;

*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
font-family: 'Poppins', sans-serif;
}

html,body{
 width: 100%;
 overflow-x: hidden;
 background: #000;
 color: white;
 scroll-behavior: smooth;
 
}
